*{
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: white;
  }
   
  html {
    transition: all 0.5s ease-in;
  }
   
  html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
    background-color: #111;
    color: var(--primary-color);
  }

  body {
    font-family: "Heebo", "sans-serif";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .toggle{
      cursor: pointer;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      padding: 10px;
      border: none;
      border-radius: 8px;
      position: absolute;
      top: 100px;
  }

  .toggle:focus {
    outline: none;
  }
  .clock_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .clock{
      position: relative;
      width: 200px;
      height: 200px;
      border: 8px solid teal;
      border-radius: 50%;
  }

  .needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
  }
   
  .needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
  }
   
  .needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 85px;
  }
  .needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 85px;
    background-color: red;
  }
  .center_point{
      background-color: red;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

  }

  .center_point::after {
    content: "";
    background-color: red;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .time {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
 
.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}